{{ template "layout" . }}{{ define "content" }}
<section id="content-types">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-content">
                    <img class="card-img-top img-fluid" src="./assets/compiled/jpg/origami.jpg" alt="Card image cap" style="height: 20rem">
                    <div class="card-body">
                        <h4 class="card-title">My Simple Crud Golang</h4>
                        <p class="card-text">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est adipisci quod suscipit excepturi eius quaerat nulla corrupti id voluptatum consectetur similique labore eum deserunt illum soluta doloremque, iusto vero eaque sunt aliquam facilis minus inventore. Ut sed similique recusandae reiciendis nisi architecto dolorum harum, libero non modi labore, assumenda impedit. Quaerat et accusantium explicabo odio nesciunt? Unde iusto quod ex dolore maiores molestiae commodi laboriosam nemo numquam assumenda tempore quia illum veniam magnam odit pariatur quidem, rem facilis libero dolor, debitis id enim et ratione! Nostrum illum repudiandae ducimus quasi delectus numquam nam accusantium, harum minima sequi nobis? Dolores, accusantium!
                        </p>
                        <p class="card-text">
                            Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}